{{template "heade"}}

<body>
  <div class="x-nav">
    <span class="layui-breadcrumb">
      <a href="">首页</a>
      <a href="">演示</a>
      <a>
        <cite>导航元素</cite></a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
      onclick="location.reload()" title="刷新">
      <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
  </div>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body ">
            <form class="layui-form layui-col-space5">
              <div class="layui-inline layui-show-xs-block">
                <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-inline layui-show-xs-block">
                <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
              </div>
            </form>
          </div>
          <div class="layui-card-body ">
            <table class="layui-hide" id="usertable" lay-filter="usertable" />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script type="text/html" id="usertablebar">
  <span class="layui-btn layui-btn-warm layui-btn-xs" lay-event="detail">查看</span>
  <span class="layui-btn layui-btn-xs" lay-event="edit">编辑</span>
  <apan class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</span>
</script>

<script type="text/html" id="toolbarleft">
  <div class = "layui-btn-container" >
    <button class="layui-btn" onclick="xadmin.open('添加用户','/rendercreateuser',800,600)"><i class="layui-icon"></i>添加</button>
  </div >
</script>


<script>
  layui.use('table', function () {
    var table = layui.table;
    table.render({
      elem: '#usertable'
      , url: '/users'
      , height: 700
      , toolbar: '#toolbarleft'
      , cols: [[
        {field: 'UserName', width: 120, title: '用户名'}
        , {field: 'Phone', width: 120, title: '联系电话'}
        , {field: 'CompanyName', width: 200, title: '机构名称'}
        , {field: 'CompanyAddress', title: '机构地址'}
        , {field: 'ExpireTime', width: 200, title: '到期时间'}
        , {
          field: 'Status', width: 100, title: '状态', templet: function (d) {
            if (d.Status == 1) {
              return '<span class="layui-badge-dot layui-bg-blue"></span><span style="color:#1E9FFF"> 正常</span>'
            } else {
              return '<span class="layui-badge-dot layui-bg-red"></span><span style="color:#FF5722"> 停用</span>'
            }
          }
        }
        , {fixed: 'right', title: '操作', width: 203, toolbar: '#usertablebar'}
      ]]
      , page: true
      , done: function (res, curr, count) {
        //监听行工具事件
        table.on('tool(usertable)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
          var data = obj.data //获得当前行数据
            , layEvent = obj.event; //获得 lay-event 对应的值
          if (layEvent === 'detail') {
            layer.msg('查看操作');
          } else if (layEvent === 'del') {
            layer.confirm('真的删除行么', function (index) {
              $.ajax({
                url: '/users/' + data.ID,
                type: 'delete',
                data: JSON.stringify(data.field),
                success: function (result) {
                  if (result.code == "0") {
                    layer.msg(result.message, {
                      icon: 6,
                      time: 1000,
                      end: function () {
                        obj.del(); //删除对应行（tr）的DOM结构
                        layer.close(index);
                      }
                    });
                  } else if (result.code == "-1") {
                    layer.msg(result.message, {
                      icon: 5,
                      time: 1000,
                    })
                  }
                },
                error: function () {
                  layer.msg('系统错误');
                }
              });
              return false;
            });
          } else if (layEvent === 'edit') {
            xadmin.open('用户信息', '/users/' + data.ID, 800, 600)
          }
        });
      }
    });
  });

</script>

</html>
