{{template "heade" .}}

<body>
  <div class="layui-fluid">
    <div class="layui-row">
      <form class="layui-form" method="POST">
        <div class="layui-form-item">
          <label class="layui-form-label">用户姓名:</label>
          <div class="layui-input-block">
            <input type="text" name="username" required lay-verify="required" value={{.current_username}}
              autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">联系电话:</label>
          <div class="layui-input-block">
            <input type="text" name="phone" required lay-verify="required" value={{.current_userphone}}
              autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">机构名称:</label>
          <div class="layui-input-block">
            <input type="text" name="companyname" required lay-verify="required" value={{.current_usercompany}}
              autocomplete="off" class="layui-input">
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">到期时间:</label>
          <div class="layui-input-block">
            <input type="text" name="expiretime" required lay-verify="required" value={{.current_expiretime}}
              autocomplete="off" class="layui-input" disabled>
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">状态:</label>
          <div class="layui-input-block">
            <input type="text" name="expiretime" required lay-verify="required" value={{.current_userstatus}}
              autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">机构地址:</label>
          <div class="layui-input-block">
            <input type="text" name="companyaddress" required lay-verify="required"
              value={{.current_usercompanyaddress}} autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="updateuser">保存</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
<script>
  layui.use('form', function () {
    var form = layui.form;
    form.on('submit(updateuser)', function (data) {
      console.log(JSON.stringify(data.field))
      $.ajax({
        url: '/users/{{.current_userid}}',
        type: 'POST',
        data: JSON.stringify(data.field),
        success: function (result) {
          if (result.code == "0") {
            layer.msg(result.message, {
              icon: 6,
              time: 1000,
              end: function () {
                xadmin.close();
                xadmin.father_reload();
              }
            });
          } else if (result.code == "-1") {
            layer.msg(result.message, {
              icon: 5,
              time: 1000,
            })
          }
        },
        error: function () {
          layer.msg('系统错误');
        }
      });
      return false;
    });
  });
</script>

</html>
