{{template "heade"}}

<body>
  <div class="layui-fluid">
    <div class="layui-row">
      <form class="layui-form">
        <div class="layui-form-item">
          <label for="username" class="layui-form-label">
            <span class="x-red">*</span>用户姓名
          </label>
          <div class="layui-input-inline">
            <input type="text" id="username" name="username" required="" lay-verify="required" autocomplete="off"
              class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label for="L_pass" class="layui-form-label">
            <span class="x-red">*</span>密码
          </label>
          <div class="layui-input-inline">
            <input type="password" id="L_pass" name="password" required="" lay-verify="pass" autocomplete="off"
              class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux">
            <span class="x-red">*</span>
            长度为6位到12位
          </div>
        </div>
        <div class="layui-form-item">
          <label for="phone" class="layui-form-label">
            <span class="x-red">*</span>联系电话
          </label>
          <div class="layui-input-inline">
            <input type="text" id="phone" name="phone" required="" lay-verify="phone" autocomplete="off"
              class="layui-input">
          </div>
          <div class="layui-form-mid layui-word-aux">
            <span class="x-red">*</span>将会成为唯一的登陆ID
          </div>
        </div>
        <div class="layui-form-item">
          <label for="companyname" class="layui-form-label">
            <span class="x-red">*</span>到期时间
          </label>
          <div class="layui-input-inline">
            <input type="text" id="expiretime" name="expiretime" required="" lay-verify="required" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label for="companyname" class="layui-form-label">
            <span class="x-red">*</span>机构名称
          </label>
          <div class="layui-input-inline">
            <input type="text" id="companyname" name="companyname" required="" lay-verify="required" autocomplete="off"
              class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label for="companyname" class="layui-form-label">
            <span class="x-red">*</span>机构地址
          </label>
          <div class="layui-input-block">
            <textarea id="companyaddress" name="companyaddress" required="" lay-verify="required" autocomplete="off"
              class="layui-textarea"></textarea>
          </div>
        </div>
        <div class="layui-form-item">
          <label for="companyname" class="layui-form-label">
            <span class="x-red">*</span> 权限
          </label>
          <div class="layui-input-inline">
            <input type="text" id="rolename" name="rolename" required="" lay-verify="required" autocomplete="off"
              class="layui-input">
          </div>
        </div>

        <div class="layui-form-item">
          <label for="L_repass" class="layui-form-label">
          </label>
          <button class="layui-btn" lay-filter="add" lay-submit="">
            立即创建
          </button>
        </div>
      </form>
    </div>
</body>

<script>
  layui.use(['form', 'layer', 'laydate'],
    function () {
      var laydate = layui.laydate;

      //执行一个laydate实例
      laydate.render({
        elem: '#expiretime' //指定元素
      });

      $ = layui.jquery;
      var form = layui.form,
        layer = layui.layer;

      //自定义验证规则
      form.verify({
        pass: [/(.+){6,12}$/, '密码必须6到12位'],
      });

      form.on('submit(add)', function (data) {
        console.log(data.field.expiretime)
        $.ajax({
          url: '/users',
          type: 'POST',
          data: JSON.stringify(data.field),
          success: function (result) {
            if (result.code == "0") {
              layer.msg(result.message, {
                icon: 6,
                time: 1000,
                end: function () {
                  xadmin.close()
                  xadmin.father_reload();
                }
              });
            } else if (result.code == "-1") {
              layer.msg(result.message, {
                icon: 5,
                time: 1000,
                end: function () {
                  $("#password").focus();
                }
              })
            }
          },
          error: function (result) {
            layer.msg(result.responseJSON.message, {
              icon: 5,
              time: 1000,
            });
          }
        });
        return false;
      });
    });
</script>

</html>
